<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>SessionTimer Helper</string>
    <key>CFBundleExecutable</key>
    <string>SessionTimerHelper</string>
    <key>CFBundleIdentifier</key>
    <string>com.pjackson.sessiontimer.helper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SessionTimer Helper</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.2.3</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>SessionTimer URL Handler</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>sessiontimer</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
